<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <form action="{% url 'profile/' %}" method="post">
        {% csrf_token %}
        <label for="phone_number">Enter Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" required>
        <button type="submit" class="btn">Search</button>
    </form>
    <p>Phone Number: {{ phone_number }}</p>
    <p>Invite Code: {{ invite_code }}</p>
    <p>Used Foreign Invite: {{ used_foreign_invite }}</p>
    <p>Referral Phone Numbers:</p>

    <ul>
        {% for referral_number in referral_phone_numbers %}
            <li>{{ referral_number }}</li>
        {% endfor %}
    </ul>
    <p>Message: {{ message }}</p>
<button onclick="window.location.href='{% url 'entry_authorization_page' %}'" class="btn">Login</button></body>
</html>
